.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh; /* Ensure full vertical height */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: lightgray;
}

.form-group {
  margin: 15px;
}

input[type="text"],
input[type="username"] {
  padding: 8px 8px 8px 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%; /* Makes input take the full width of the form */
}

input[type="text"],
input[type="password"] {
  padding: 8px 8px 8px 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%; /* Makes input take the full width of the form */
}

.navigation {
  width: 250px; /* Adjust based on your navigation width */
  flex-shrink: 0; /* Prevents the navigation from shrinking */
  /* Your existing styles for background, padding, etc. */
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a1a; /* Replace with actual color from mockup */
  height: 100%;
  padding: 20px; /* Adjust as needed */
  position: fixed; /* Ensure it stays in place on scroll */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.sidebar a {
  padding: 10px; /* Increase clickable area and space */
  display: block; /* Make each link full width for padding to take effect */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  margin-bottom: 5px; /* Space between links */
}

.sidebar a:hover {
  background-color: #333; /* Replace with actual color from mockup */
}

.sidebar-links a {
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.sidebar-links a:hover {
  background-color: #333; /* Adjust hover color as needed */
}

.logout-bottom {
  margin-top: auto; /*pushes to the bottom */
  cursor: pointer;
  color: white;
  text-align: left;
  padding: 19px;
  margin-bottom: auto;
}

/* Main Content */
.main-content {
  flex-grow: 1; /* Takes up the remaining space */
  padding: 10px; /* Adjust as needed */
}

/* Drop Zone style */
.dropzone {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px dashed #999; /* Replace with actual color from mockup */
  padding: 10px;
  margin-bottom: 5px; /* Separate from other elements */
  border-radius: 20px;
}

.dropzone:hover {
  background-color: #f5f5f5; /* Light grey to indicate interactivity, replace with actual color from mockup */
}

/* Input fields and buttons */

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

input[type="text"],
input[type="file"] {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 400px; /* Space between inputs */
  margin-top: 20px;
}

button {
  background-color: #007bff; /* Bootstrap primary button color for example, replace with actual color from mockup */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  margin: 10px; /* Space between buttons */
  cursor: pointer; /* Indicate it's clickable */
}

button:hover {
  background-color: #0056b3; /* Darken on hover, replace with actual color from mockup */
}

/* Step Containers */

.step-container {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow, adjust as needed */
  border-radius: 20px; /* Rounded corners */
  margin: 20px 30px 20px 20px; /* Top and bottom margin */
  padding: 20px;
  min-height: 250px;
  max-width: 700px;
}

/* Headers and Style */

.step-title {
  font-weight: bold;
  font-size: 100%;
  background-color: #e9ecef; /* Bootstrap light grey for example, replace with actual color from mockup */
  padding: 10px;
  border-radius: 20px 20px 0 0; /* If the headers have separate boxes */
  margin: -20px -20px 20px -20px; /* Align with the step-container padding */
}

/* Responsive Design */

@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on small screens */
    max-width: 180px;
    position: static; /* Stack on top instead of fixed */
  }

  .navigation {
    max-width: 200px;
    position: static;
  }

  .main-content {
    padding: 25px; /* Adjust padding on smaller screens */
  }

  /* Other responsive adjustments as needed */
}



